*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	outline: none;
}

.list{
	text-align: center;
	background-color: black;
	color: lime;
	height: 300px;
	font-size: 2em;
}
#btn{
	padding: 20px;
	height: 50px;
	background-color: yellow;
	border: none;
	border-radius: 5px;
	margin: 5px;
	box-shadow: 0 0 10px black;
}
.center{
	text-align: center;
}

.color{
	color: white;
}
#write{
	padding: 20px;
	height: 50px;
	background-color: yellow;
	border: none;
	border-radius: 5px;
	margin: 5px;
	box-shadow: 0 0 10px black;
}